@{
    ViewData["Title"] = "Sobre";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Projeto Elevador</h1>
        <br>
        <ul class="text-left ">
            <li><h4 class="font-weight-bold">INTRODUÇÃO: </h4></li>
            <div class="text-justify small">
                <br>
                <p>O projeto foi desenvolvido por mim, Luiz H Alves, para finalizar o curso com duração de três semanas e meia da jornada MS-DEV ofertado
                pela Samsung Ocean.</p>

            </div>
            <br>
            <li><h4 class="font-weight-bold">OBJETIVOS: </h4></li>
            <div class="text-justify small">
                <br>
                <p>- Criar um app console em C# que represente o funcionamento de um elevador</p>
                <p>- Criar uma classe que armazene alguns dados do elevador</p>
                <p>- Criar funções que manipulem esses dados</p>
                <p>- Permitir que o usuário interaja com essas funções</p>
            </div>
            <br>
            <li><h4 class="font-weight-bold">FUNCIONALIDADES: </h4></li>
            <div class="text-justify small">
                <p>
                    - Menu de interação:
                    <br>
                    <br>
                    <img src="./Images/menu.png" alt="imagem-menu">
                </p>
                <p>
                    - Definindo novas propriedades para o elevador:
                    <br>
                    <br>
                    <img src="./Images/inicializar.png" alt="imagem-menu">
                </p>
                <p>
                    - Adicionando uma pessoa ao elevador:
                    <br>
                    <br>
                    <img src="./Images/adicionar.png" alt="imagem-menu">
                </p>
                <p>
                    - Caso o elevador já esteja cheio:
                    <br>
                    <br>
                    <img src="./Images/cheio.png" alt="imagem-menu">
                </p>
                <p>
                    - Removendo uma pessoa do elevador:
                    <br>
                    <br>
                    <img src="./Images/remover.png" alt="imagem-menu">
                </p>
                <p>
                    - Subindo um andar:
                    <br>
                    <br>
                    <img src="./Images/subir.png" alt="imagem-menu">
                </p>
                <p>
                    - Descendo um andar:
                    <br>
                    <br>
                    <img src="./Images/descer.png" alt="imagem-menu">
                </p>
                <p>
                    - Caso o elevador já esteja no térreo:
                    <br>
                    <br>
                    <img src="./Images/impossivel-descer.png" alt="imagem-menu">
                </p>
                <p class="text-justify">
                   O elevador também mostra uma mensagem de erro caso o usuário tente remover uma pessoa e ele já esteja vazio, 
                    e também mostra uma mensagem de erro caso o usuário tente subir mais andares que o estabelecido. Por padrão 
                    o elevador aguenta 6 pessoas, possui 3 andares, começa no térreo e vazio. O usuário pode mudar apenas a quantidade
                    de pessoas e de andares.
                </p>

            </div>
            <br>
            <li><h4 class="font-weight-bold">FUNCIONALIDADES FUTURAS: </h4></li>
            <div class="text-justify small">
                <br>
                <p>- Transformar o app console em um web app</p>
                <p>- Manipular os dados através de métodos HTTP</p>
                <p>- Armazenar as informações em um banco de dados na nuvem</p>
                <p>- Subir o web app em algum serviço de hospedagem</p>
            </div>
            <br>
        </ul>
    </div>
</body>

