@{
    ViewData["Title"] = "Política de Privacidade";
}
<body>
    <h1>@ViewData["Title"]</h1>

    <p>O projeto não armazena nenhum dado do usuário, ele foi criado apenas para fins educacionais.</p>
</body>
